<div
  class="flex h-full w-full md:w-[250px] flex-row md:flex-col bg-background border-r border-muted"
>
  <!-- Logo & App Name - hidden on small screens -->
  <div class="hidden md:flex">
    <app-name-logo class="w-full"></app-name-logo>
  </div>

  <div class="flex flex-col justify-between h-full w-full">
    <!-- Navigation buttons -->
    <div class="md:p-2 w-full flex md:flex-col txt-medium-14px">
      @for (item of navItems; track item.label) {
        <div class="w-1/2 md:w-full">
          <button
            class="flex-1 md:flex-none w-full md:rounded-xl flex items-center justify-center md:justify-start gap-2 px-4 py-3 transition-colors"
            [routerLink]="item.route"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="item.exact ? { exact: true } : {}"
          >
            <i class="{{ item.icon }} me-1"></i>
            <span>{{ item.label }}</span>
          </button>
        </div>
      }
    </div>
    <div class="hidden md:flex p-2">
      <app-logout class="w-full"></app-logout>
    </div>
  </div>
</div>
